#unep-language {
  border-bottom: 1px solid #EEE;
  font-size: 0.8em;
  text-align: center;
  margin-left: 0 !important;
}

#unep-language li {
  margin: 0.5em;
  display: inline-block;
}

#unep-language img {
  vertical-align: middle;
    height: 15px;
    width: 24px;
    margin-right: 2px;
}

#unep-language a {
  border: 0 !important;
}
