#unep-language {
  border-bottom: 1px solid #EEE;
  font-size: 0.8em;
  text-align: center;
  margin-left: 0 !important;
}

#unep-language li {
  margin: 0.5em;
  display: inline-block;
  opacity: 0.4;
}
#unep-language.en li#unep-language-en,
#unep-language.es li#unep-language-es,
#unep-language.fr li#unep-language-fr{opacity:1}

#unep-language img {
  vertical-align: middle;
    height: 15px;
    width: 24px;
    margin-right: 2px;
}

#unep-language a {
  border: 0 !important;
}
#unep-language.en {}
#unep-language.es {}
#unep-language.fr {}
