#meeting-texts {
  margin-right: 220px;
}
#meeting-texts .text-content {
border: 1px solid #EEE;
padding: 15px;
margin-bottom: 10px;
}
a.meeting-attachment {
    text-align: right;
    display: block;
    margin-bottom:1em;
}
#meeting-navigation {
  float: right;
  background: #EEE;
  margin: 1em 0 1em 1em;
  padding: 0.5em;
  width: 200px;
}

#meeting-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#meeting-navigation li {
  font-size: 0.9em;
  margin: 0.5em 0;
}

#meeting-navigation h3 {
  margin-bottom: 0.5em;
}
#meeting-text-downloads {
font-size: 270%;
line-height: 1.5em;
}
.meeting-attachment{
    font-size:160%;
}
.meeting-downloads {
margin-top: 20px;
display: block;
}